.system
	.system__top
		.system__wrapper.system__top-wrapper
			.system__heading
				.system__logo
					img(src="img/logo-grad.svg" alt="alt")
				.system__text повысим эффективность ваших сотрудников и лояльность клиентов

		.system__image
			.system__picture._fit
				img._fit-img(src="img/system/system-img.jpg" alt="alt")
	
	.system__content
		.system__wrapper
			.system__descr.descr-system
				p.descr-system__chapter Мы создали гибкую систему распределения товаров и напитков между сотрудниками и клиентами
				p.descr-system__app Вместе с вами настроим и подключим программу лояльности в приложении #[a(href="#") Vending Wallet] 
				.parameters-title Параметры выдачи:

			.system__items
				- var items = [{title: 'Время, дата и период выдачи', text:'например, бесплатно в дни общих собраний или до начала рабочего дня для поддержания дисциплины'}, {title: 'Тип бонуса', text: 'бесплатный товар, скидка или кэшбек для определенных людей, групп или всех сотрудников в виде поощрения'}, {title: 'Лимит', text: 'групповой и индивидуальный, на день и на месяц'}];

				- var subitems = [{title: 'Дополнительные возможности >>'}, {title: 'Интеграция', text: 'привязка к пропускным картам сотрудников'}, {title: 'Мониторинг и коррекция бюджета', text: 'расходов на питание онлайн'}];

				each item, i in items
					article.system__item.item-system
						.item-system__icon(data-trigger style="transition-delay:" + (.2 * (i - 1))+"s;")
							img(src="img/system/"+(i+1)+".svg" alt="alt")
						.item-system__title= item.title
						p.item-system__text= item.text

				each item, i in subitems
					article(class=i==0 ? "system__item system__item--title item-system" : "system__item item-system")
						.item-system__icon.item-system__icon--circle
							if item.text
								.item-system__circle
						
						.item-system__title= item.title
						
						if item.text
							p.item-system__text= item.text